<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Beehive Data</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Latest 10 Days of Weight Data</h2>
    
    <table border="1">
        <!-- Loopa över bikuporna -->
        <tr th:each="entry : ${beehiveData}">
            <tr th:each="entry, iterStat : ${beehiveData}" th:with="currentBeehive=${entry.value[0]}">
                <td th:text="${iterStat.count}"></td>
                <td><strong>Beehive:</strong> <span th:text="${entry.key}"></span></td>
                <td th:text="${currentBeehive.weightValues}"></td>
            </tr>
        </tr>
    </table>    

</body>
</html>