<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Honey Production</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .chart-container {
            display: flex;
            justify-content: space-around; /* Centrera och ge utrymme mellan diagrammen */
            align-items: center; /* Centrera diagrammen vertikalt */
        }
        canvas {
            max-width: 400px;
            max-height: 300px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>IP Address</th>
            <th>MAC Address</th>
            <th>Weight Values</th>
        </tr>
        <tr th:each="beehive : ${beehiveData}">
            <td th:text="${beehive.ipAddress}"></td>
            <td th:text="${beehive.macAddress}"></td>
            <td th:text="${beehive.getWeightValuesAsString()}"></td>
        </tr>
    </table>    
</body>
</html>